/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.
 *
 * Use case:           Must be a single word comprising just letters, numbers, and dashes.
 * Color name:         Must be an exact match for a name of a colour defined in palette.scss
 * CSS class property: Should be 'text', 'border', 'background', or 'all'.
 * Status:             Must be 'DEPRECATED' or absent
 *
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 *
 *
 *  <use case>                        <colorname>            <cssclassproperty>   [<status>]
 */
.o-tweet {
  background-color: #f6e9d8;
  padding: 10px 20px 10px 68px;
  margin: 1em 0;
  display: inline-block; }
  .o-tweet blockquote {
    font-size: 17px;
    margin: 7px 0;
    padding: 0;
    border: none; }

.o-tweet__h-card {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px; }

.o-tweet__avatar {
  padding: 0;
  border: 0;
  float: left;
  margin-left: -58px;
  border-radius: 4px;
  width: 48px; }

.o-tweet__user-name {
  font-weight: bold; }

.o-tweet__media {
  margin: 10px 0 7px 0;
  max-height: 300px;
  max-width: 100%;
  position: relative; }
  .o-tweet__media img {
    max-height: 100%;
    max-width: 100%; }

.o-tweet__iframed {
  max-width: 450px; }
  .o-tweet__iframed div {
    padding-top: 56.25%;
    height: 0;
    max-width: 100%; }
  .o-tweet__iframed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.o-tweet__metadata {
  list-style-type: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0; }
  .o-tweet__metadata li {
    display: inline;
    margin-right: 8px;
    white-space: nowrap;
    line-height: 1.5; }

.o-tweet__permalink {
  color: #333333; }

.o-tweet__stats {
  font-size: 10px;
  text-transform: uppercase; }
  .o-tweet__stats strong {
    font-size: 12px; }
